body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font: 400px;
}
.orange-color{
    color:gold;

}
section{
    display: flex;
    margin-top: 1%;
    margin-bottom: 6%;

}
.half-width{
    width: 40%;
    padding-left: 10%;
    margin-top: 3%;
}
.half-width img{
    width: 40%;
    padding-right: 10%;
 
}
.link-button{
    text-decoration: none; 
    padding: 8px 25px;
    background-image: linear-gradient(rgb(122, 91, 33) rgb(116, 50, 39));
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5%;
    background-color: tomato;
}
.top-banner{
    background-image: url(image/top-banner-white.png);
    background-repeat: no-repeat;
}
.half-width2 img{
     width: 80%;
     padding-bottom: 10%;
     padding-left: 20%;
}
.half-width2{
    width: 50%;
    padding-right: 15%;
    margin-bottom: 3%;
}
section{
    display: flex;
    margin-top: 1%;
    margin-bottom: 6%; 
}
.top-banner2{
    background-image: url(image/top-\ banner.png);
    background-repeat: no-repeat;