body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font: 700px;
}
.orange-color{
        color:gold;}
    section{
        display: flex;
        margin-bottom: 150%;
    }



.flexible-container{
    width: 10%;
    display: inline-flex;
    margin-top: 1%;
    padding-left: 10%;

}
.half-width{
    width: 80%;
    padding-left: 10%;
    margin-top: 3%;
}
.half-width img{
    width: 40%;
    padding-right: 10%;
 
}
.link-button{
    text-decoration: none; 
    padding: 8px 25px;
    background-image: linear-gradient(rgb(122, 91, 33) rgb(116, 50, 39));
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5%;
    background-color: tomato;
}
.top-banner{
    background-image: url(image/top-banner-white.png);
    background-repeat: no-repeat;
}
.half-width2 img{
     width: 80%;
     padding-bottom: 10%;
     padding-left: 20%;
}
.half-width2{
    width: 50%;
    padding-right: 15%;
    margin-bottom: 3%;
}
.Explorer{
    display: flex;
    margin-top: 1%;
    margin-bottom: 6%; 
}
.top-banner2{
    background-image: url(image/top-\ banner.png);
    background-repeat: no-repeat;}

     
    .wrapper{
        position: flex;
        text-align: center;
        margin-bottom: 5%;
        background-color: rgb(83, 59, 59)
        width: 40%;
    }
    .team{
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 5%;
        width: 80%;
        background-color: rgb(221, 219, 219);
        margin: center;
        offset-distance:20%;
        padding-left: 5%;
   }

 .font_line1{
    display : linear flex;
    margin-bottom: 20%;
    margin-left: 50PX;
    margin-right: 50px;
    padding: 20px;
   margin: center;
}
   
.font_line img{
    width:150px;

    display: flex;
    padding :10%;
    margin-left: 10%;
    margin-right: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.font_line{
    box-shadow: 10px 10px 40px rgb(221, 224, 226);
    background-color: rgb(190, 184, 184)
    margin-left: 5%;
    margin-right: 10PX;
    border-radius: 20px;
    padding: 20px;

}
.auto{
    text-align: center;
    margin-right: 10PX;
}

.number {
    display: linear-flex;
    width: 100%;
    margin-right: 40px;
}
.footer{
    text-align: center;
    display: center;
    
}
.num{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    
    background-color: rgb(250, 246, 246);
    border-radius: 15px;
    text-align: center;
   margin-bottom: 250px; 
   box-shadow: 10px 10px 40px rgb(221, 224, 226);
}
.foot{
    text-align: center;
    margin-bottom: 0px; 
    background-color: rgb(80, 69, 69)
    
}


